[user]
    email = hktkzyx@yeah.net
    name = hktkzyx
	signingkey = hktkzyx@yeah.net
[core]
	editor = vim
[init]
	defaultBranch = main
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true
[tag]
	gpgsign = true
